---
layout: default
published: true
---

<div class="main-slider">
  <div class="main-slide">
    <img
    src="{{ '/assets/images/slider/slider-1.jpg' | prepend: site.baseurl | prepend: site.url }}"
    alt="{{ site.title }}" />
    <div class="video-list">
      <h4>Latest <span>songs</span></h4>
      <ul>
        {% include main-slide-videos.html %}
      </ul>
    </div>
  </div>
  <div class="main-slide">
    <img
    src="{{ '/assets/images/slider/slider-4.jpg' | prepend: site.baseurl | prepend: site.url }}"
    alt="{{ site.title }}" />
    <div class="video-list">
      <h4>Latest <span>songs</span></h4>
      <ul>
        {% include main-slide-videos.html %}
      </ul>
    </div>
  </div>
  <div class="main-slide">
    <img
    src="{{ '/assets/images/slider/slider-2.jpg' | prepend: site.baseurl | prepend: site.url }}"
    alt="{{ site.title }}" />
    <div class="video-list">
      <h4>Latest <span>songs</span></h4>
      <ul>
        {% include main-slide-videos.html %}
      </ul>
    </div>
  </div>
  
</div>  