{% assign posts = (site.posts | where: "pageType" , "audio") %}
 {% for post in posts limit 30 %} 
        <a class="audio-item" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{post.title}}">
        <div class="cover-audio">
          {% if post.thumbnail %}
            <img 
                src="{{ "/assets/images/audios/" | append: post.thumbnail | prepend: site.baseurl | prepend: site.url }}" 
                alt="{{ post.tumbnail_alt }}">
          {% endif %}
        </div>
        <h5>{{ post.title }}</h5>
        <!-- <p>{{ post.summary }}</p> -->
        </a>
{% endfor %}