---
layout: page
title: Live Audios
permalink: /audios/
meta_description: Download latest sri lanken musical shows album from susanga team  
---

<div class="top-20-videos">
  <h2>Live <span>Audios</span></h2>
  <div class="audios-wrapper">
    {% include fetch-top-20-audios.html selector = 'audio' %}  
  </div>
</div>
<div class="media-list-container"  ng-controller="AudioController">

  <div class="toolbar-actions">
    <div class="toolbar-item toolbar-title">
       <h4>Audio archive</h4>
    </div>
    <div class="toolbar-item">
      <input type="text" ng-model="search" placeholder="Filter songs" ng-change="filter()"  class="form-control input-sm" />
    </div>
    <div class="toolbar-item paginate-toolbar-item" ng-show="filteredItems > 0 && list.length > entryLimit ">
      <pagination class="pagination-sm" total-items="filteredItems" items-per-page="entryLimit" 
        ng-model="currentPage" ng-change="pageChanged()"  previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>
  </div>
      
  <div 
      ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
      <a ng-href="[[data.href]]"  class="media-item-row">
        <div class="cover-small">
           <img ng-src="http://svtlive.com/assets/images/audios/[[ data.thumbnailSmall ]]">
        </div>
        <div class="media-item-name">[[ data.title ]]</div>
        <div class="media-item-artist">[[ data.artist ]]</div>
      </a>
  </div>


</div>

