---
layout: default
---
<div class="post">
  <div class="post-content">
    <h2>{{ page.title }}</h2>
    
    {{ content }}

    {% if page.permalink != '/advertise/' %}
      <div class="footer-panel">      
        <div class="share-panel">
          {% if site.theme.show_share_buttons %}
            {% include share-buttons.html %}
          {% endif %}
        </div>  
        {% if page.downloadLink %}
          <div class="download-btn-wrapper">
          <a href="{{page.downloadLink}}" class="btn" target="_blank" title="Download full album of {{ page.title }}">
            DOWNLOAD FULL ALBUM
          </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
     
  </div>
  <div class="sidebar">
    {% if page.permalink != '/advertise/' %}
    <div class="advert-here">
      <span>Advertise Here - 0713132995</span>
    </div>
    {% else if page.permalink == '/advertise/' %}
    <div class="pricing-info">
      <h3>Banner Pricing</h3>
      <ul>
        <li>
          <span class="pricing-number">1</span>
          <span class="pricing-item"><strong>2000.00 LKR</strong> / per month</span>
        </li>
        <li>
          <span class="pricing-number">2</span>
          <span class="pricing-item"><strong>1000.00 LKR</strong> / per month</span>
        </li>
        <li>
          <span class="pricing-number">3</span>
          <span class="pricing-item"><strong>1000.00 LKR</strong> / per month</span>
        </li>
        <li>
          <span class="pricing-number">4</span>
          <span class="pricing-item"><strong>750.00 LKR</strong> / per month</span>
        </li>
        <li>
          <span class="pricing-number">5</span>
          <span class="pricing-item"><strong>500.00 LKR</strong> / per month</span>
        </li>
      </ul>

      <p>Please call <strong>0713132995</strong> for more info.</p>
    </div>
    {% endif %}
  </div>
</div>
