---
layout: default
---
<div class="post">
  <div class="post-content">
    <h2>{{ page.title }}</h2>
    
    {{ content }}

    <div class="footer-panel">      
      <div class="share-panel">
        {% if site.theme.show_share_buttons %}
          {% include share-buttons.html %}
        {% endif %}
      </div>  
      {% if page.downloadLink %}
        <div class="download-btn-wrapper">
        <a href="{{page.downloadLink}}" class="btn" target="_blank" title="{{ page.title }}">
          DOWNLOAD FULL ALBUM
        </a>
        </div>
      {% endif %}
    </div>
     
  </div>
  <div class="sidebar">
    
  </div>
</div>
